*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-block-size: 100svh;
}

canvas {
  display: block;
  margin-inline: auto;
  /* border: 1px solid black; */
}

.emotion {
  display: grid;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  left: 10%;
  top: 10%;
}
.emotion_btn {
  width: calc(100% + 2rem);
  cursor: pointer;
  font-size: 1rem;
}
